*{
    margin: 0;
    padding: 0;
}
/* font */
.open-sans-fontfam{
  font-family: "Open Sans", serif;
  font-optical-sizing: auto;
  font-style: normal;
  font-variation-settings:
    "wdth" 100;
}

/* shared styles */
.secondary-bg{
    background-color: #FFF8F3;
}
.text-primary{
    color: #FD6E0A;
}
.btn-primary{
    background-color: #FD6E0A;
    color: #fff;
    padding: 18px 35px;
    font-size: 20px;
    font-weight: bold;
    cursor: pointer;
    border: none;
    border-radius: 5px;
}
.section-title{
    font-size: 35px;
    font-weight: bold;
    color: #181818;
}
.section-description{
    font-size: 18px;
    color: #757575;
}


/* Header */
.header {
    background-image: url('../images/developer.png'), url('../images/header_bg.png');
    background-repeat: no-repeat;
    background-position: top left, bottom right;

}

/* nav styles */
nav{
    display: flex;
    align-items: center;
    justify-content: space-between;
    margin: 0px 200px;
    padding: 50px 0px;
}
nav .nav-title{
    font-weight: 800;
    font-size: 45px;
}
nav ul{
    display: flex;
    align-items: center;
}
nav ul li{
    list-style: none;
    margin-right: 50px;
}
nav li a{
    text-decoration: none;
    color: #474747;
    font-size: 20px;
}

/* Banner Styles */
.banner{
    display: flex;
    justify-content: space-between;
    margin: 0px 38px 0px 200px;
}
.banner-content{
    max-width: 585px;
    margin-top: 180px;
}
.banner-greetings{
    color: #474747;
    font-weight: bold;
    font-size: 45px;
    margin-bottom: 5px;
}
.banner-title{
    color: #181818;
    font-weight: 700;
    font-size: 85px;
    margin-bottom: 20px;
}
.banner-description{
    color: #757575;
    font-weight: 400;
    font-size: 18px;
    margin-bottom: 30px;
}
.btn-contact{
    border:1px solid #FD6E0A;
    background-color: #fff;
    color:#FD6E0A;
}
/* main styles */
main{
    max-width: 1140px;
    margin: 0 auto;
}

/* About Styles */
.about {
    border-radius: 10px;
    padding: 130px 150px;
    margin-top: 130px;
    text-align: center;
}
.about-content{
    border: 1px solid #181818;
    background-color: #fff;
}
.about-title{
    margin-bottom: 30px;
}
.about-items{
    display: flex;
    justify-content: space-around;
    margin-top: 30px;
}
.item-title{
    font-weight: normal;
}
.item-description{
    font-weight: bold;
    font-size: 20px;
}
